/* Font */
@font-face {
    font-family: 'bebas_neueregular';
    src: url('font/bebasneue-webfont.eot');
    src: url('font/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/bebasneue-webfont.woff') format('woff'),
         url('font/bebasneue-webfont.ttf') format('truetype'),
         url('font/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* General */
html {
	height: 100%;
}	

body {
	min-width: 1024px;
	height: 100%;
	font-family: tahoma;
	color: #FFF;
	font-size: 11pt;
	overflow: hidden;
	overflow-y: auto;
	/*	width: 3000px;*/
	line-height: normal;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 30px 20px;
}

table td {
	border-radius: 10px;
	text-align: center;
	padding: 10px;
}

a {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-family: 'bebas_neueregular';
	margin-bottom: 10px;
	font-size: 17pt;
}

.contenido {
	margin: 0 15px;
	text-align: center;
}

.secciones {
	width: 100%;
	padding: 10px 0px 10px 0px;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
}


.FormStyle{
	margin:2px;
	border-style: solid;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	color:#666;
}


/* HEADER */
header {
	width: 100%;
	font-family: 'bebas_neueregular';
	font-size: 17pt;
}

header nav {
	padding: 10px 0px 10px 0px;
}

header nav {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

header nav ul li {
	display: inline-table;
	width: 13%;
	text-align: center;
	
}

footer{
	background-color: #6e7070;
	width: 98%;
	display: block;
	border-radius: 10px;
	cursor: default;
	text-align: center;
}


header nav ul li span.menu {
	background-color: #6e7070;
	width: 98%;
	height: 90%;
	display: block;
	margin: 0 auto;
	border-radius: 10px;
	cursor: pointer;
}

header nav ul li span.home:hover {
	background-color: #f5713b;
}
header nav ul li span.home-activo {
	background-color: #f5713b;
}

header nav ul li span.que_hacemos:hover {
	background-color: #BC2535;
}
header nav ul li span.que_hacemos-activo {
	background-color: #BC2535;	
}

header nav ul li span.empresa:hover {
	background-color: #75c263;
}
header nav ul li span.empresa-activo {
	background-color: #75c263;	
}

header nav ul li span.experiencia:hover {
	background-color: #2ac2d0;
}
header nav ul li span.experiencia-activo {
	background-color: #2ac2d0;
}

header nav ul li span.pagcontenido:hover {
	background-color: #638dc4;
}
header nav ul li span.pagcontenido-activo {
	background-color: #638dc4;
}

header nav ul li span.nosotros:hover {
	background-color: #f5713b;
}
header nav ul li span.nosotros-activo {
	background-color: #f5713b;
}

header nav ul li span.contacto:hover {
	background-color: #75c263;
}
header nav ul li span.contacto-activo {
	background-color: #75c263;
}

header nav ul li span.menu div {
	padding-top: 20px;
}

/* HOME */

#logo-home {
	border: none;
	border-radius: 10px;
	padding: 10px;
}

#logo-home .redes-so {
	float: right;
	padding-right: 2%
}

#logo-home .redes-so a {
	display: block;
}

#logo-home .redes-so a img {
	height: 30px;
}

#home-contenido table {
	height: 65%;
}

#home-contenido .redes-sociales {
	float: right;
	margin-right: 5px;
}

#home-contenido table td.actualidad {
	background-color: #75c263;
	width: 25%;
	vertical-align: top;
}

#home-contenido table td.twitter {
	width: 25%;
}

#home-contenido table td.noticias {
	background-color: #ed7431;
	width: 50%;
}

#home-contenido table td.noticias div.vermasnoticias {
	text-align: right;
	margin-right: 50px;
	margin-top: 20px;
	font-family: 'bebas_neueregular';
	height: 100%;
}

#home-contenido table td.noticias div.vermasnoticias a {
	font-size: 17pt;
}

#home-contenido table td.noticias h1 {
	margin-bottom: 10px;
}

#home-contenido table td.noticias a {
	font-size: 11pt;
}

#home-contenido table td.videos {
	background-color: #a82525;
	/*width: 50%;*/
	text-align: center;
	vertical-align: middle;
}

#home-contenido table td.videos div.caja-mas {
	text-align: right;
	margin-right: 50px;
	font-family: 'bebas_neueregular';
	font-size: 17pt;
}

#home-contenido table td.marcas {
	background-color: #638dc4;
}

#home-contenido table td.marcas div img {
	width: 100px;
	height: 100px;
	margin: 10px;
}



/* QUE HACEMOS */

#que_hacemos-contenido table {
	height: 100%;
}

#que_hacemos-contenido table td.logo {
	border: none;
	border-radius: 10px;
	width: 30%;
	height: 100px;
	text-align: left;
}

#que_hacemos-contenido table td.logo img {
	width: 300px;
}

#que_hacemos-contenido table td.cont {
	/*background-color: #f2742d;*/
}

#que_hacemos-contenido table td.perfiles {
	background-color: #62cc49;
	width: 40%;
	font-family: 'bebas_neueregular';
	text-align: center;
	vertical-align: top;
}

/* Here's the list that houses the image as a background */
ul#cmp { 
  list-style-type : none;
  position : relative;
  display : block;
  background : transparent url(images/quehacemos.png) no-repeat 0 0;
  width : 1014px;
  height : 581px;
  
  margin : 0 auto 0;  /* the auto part is for optionally centering the list */
  padding : 0;
}

/* This makes the list items (links and spans) easier to manage (float control) */
ul#cmp li { 
  display : inline;
}

/* Here are link specs and relationship setup */
ul#cmp li a {
  position : relative;
  display : block;
  text-decoration : none;
}

/* 
  This gets rid of the main content-containing outer span and all within, 
  but it remains available to assistive technologies 
*/
#cmp01 div.offset, #cmp02 div.offset { 
	margin-top : -1000px; 
	margin-left : -9000px;
	position : absolute;

	width : 150px;

	background: black;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border-radius: 10px; 	
	padding: 3px;

	
	transition: margin-top .5s;
	-moz-transition: margin-top .5s;
	-webkit-transition: margin-top .5s ;
}

#cmp01 div.offset:before, #cmp02 div.offset:before{
	content:""; 
	position: absolute; 
	right: 100%; 
	top: 26px; 
	width: 0; 
	height: 0; 
	border-top: 13px solid transparent; 
	border-right: 26px solid black; 
	border-bottom: 13px solid transparent; 
}

#cmp06 div.offset, #cmp03 div.offset, #cmp04 div.offset, #cmp05 div.offset{ 
	margin-top : -1000px; 
	margin-left : -9000px;
	position : absolute;

	width : 150px;

	background: black;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border-radius: 10px; 	
	padding: 3px;

	z-index: 2;
	
	transition: margin-top .5s;
	-moz-transition: margin-top .5s;
	-webkit-transition: margin-top .5s ;
}

#cmp06 div.offset:before, #cmp03 div.offset:before, #cmp04 div.offset:before, #cmp05 div.offset:before{ 
	content:""; 
	position: absolute; 
	left: 100%; 
	top: 26px; 
	width: 0; 
	height: 0; 
	border-top: 13px solid transparent; 
	border-left: 26px solid black; 
	border-bottom: 13px solid transparent; 
	z-index: 1;
}


#cmp01 div.inner-offset, #cmp02 div.inner-offset {
	background: #F8EC31;
	position: relative;
	color: black;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	border-radius: 7px; 	
	padding: 10px;
}

#cmp06 div.inner-offset, #cmp03 div.inner-offset, #cmp04 div.inner-offset, #cmp05 div.inner-offset {
	background: #F8EC31;
	position: relative;
	color: black;
	-moz-border-radius: 7px; 
	-webkit-border-radius: 7px; 
	border-radius: 7px; 	
	padding: 10px;
}

#cmp01 div.inner-offset:before, #cmp02 div.inner-offset:before {
	content:""; 
	position: absolute; 
	right: 100%; 
	top: 24px; 
	width: 0; 
	height: 0; 
	border-top: 12px solid transparent; 
	border-right: 24px solid #F8EC31; 
	border-bottom: 12px solid transparent; 
	z-index: 4;
}

#cmp03 div.inner-offset:before,#cmp04 div.inner-offset:before, #cmp05 div.inner-offset:before,#cmp06 div.inner-offset:before{
	content:""; 
	position: absolute; 
	left: 100%; 
	top: 24px; 
	width: 0; 
	height: 0; 
	border-top: 12px solid transparent; 
	border-left: 24px solid #F8EC31; 
	border-bottom: 12px solid transparent; 
	z-index: 4;
}




/* This is the general hover and focus state link-span properties */
/* ul#cmp li a:hover div.offset, ul#cmp li a:focus div.offset, ul#cmp li a:active div.offset {
	background-image : none;
	
	font-family: bebas_neueregular;
	font-size: 16px; 
	text-decoration : none;

	cursor : pointer;
	display : block;
	width : 150px;
	height : auto;


	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;	
}
 */
 
/* 
  This sets the inner span. Padding on the main span 
  was tried but produced odd results in IE (go figure) 
*/
ul#cmp li a:hover div.offset div, ul#cmp li a:focus span.offset div, ul#cmp li a:active div.offset div {
  display : block;
  
}

/* 
  No embedded image styles are needed except maybe border : 0 (not needed here). 
  Images are optional though, as is text. Place images in main outer span. 
  Text goes within the inner span

  What follows are CSS blocks, one for each list item link. This is a solid solution,
  but it uses a lot of CSS info. I will comment the first block only.
*/


/* 
  Hot-Spot Number One (1)
*/
/* This sets the size of the list item link area and its location relative to the UL */
ul#cmp li a#cmp01 { 
  width : 230px;
  height : 230px;
  margin-top : 0px;
  margin-left : 0x;
}


/* Now I have to set the position of the outer span in relation to the list item link */
ul#cmp li a#cmp01:hover div.offset, ul#cmp li a#cmp01:focus div.offset, ul#cmp li a#cmp01:active div.offset {
  margin-top : 0px;
  margin-left: 240px;
}


/* Hot-Spot Number Two (2) */
ul#cmp li a#cmp02 {
  width : 250px;
  height : 250px;
  margin-top : -230px;
  margin-left : 250px;
}

ul#cmp li a#cmp02:hover div.offset, ul#cmp li a#cmp02:focus div.offset, ul#cmp li a#cmp02:active div.offset {
  margin-top : 0px;
  margin-left : 240px;
}

/* Hot-Spot Number Three (3) */
ul#cmp li a#cmp03 {
  width : 240px;
  height : 240px;
  margin-top : -250px;
  margin-left : 545px;
}

ul#cmp li a#cmp03:hover div.offset, ul#cmp li a#cmp03:focus div.offset, ul#cmp li a#cmp03:active div.offset {
  margin-top : 0px;
  margin-left : -150px;
}

/* Hot-Spot Number Four (4) */
ul#cmp li a#cmp04 {
  width : 230px;
  height : 240px;
  margin-top : -240px;
  margin-left : 785px;
}

ul#cmp li a#cmp04:hover div.offset, ul#cmp li a#cmp04:focus div.offset, ul#cmp li a#cmp04:active div.offset {
  margin-top : 0px;
  margin-left : -150px;
}

/* Hot-Spot Number Five (5) */
ul#cmp li a#cmp05 {
  width : 700px;
  height : 240px;
  margin-top : 50px;
  margin-left : 0px;
}

ul#cmp li a#cmp05:hover div.offset, ul#cmp li a#cmp05:focus div.offset, ul#cmp li a#cmp05:active div.offset {
  margin-top : 0px;
  margin-left : -100px;
}

/* Hot-Spot Number Five (6) */
ul#cmp li a#cmp06 {
  width : 240px;
  height : 240px;
  margin-top : -240px;
  margin-left : 720px;
}

ul#cmp li a#cmp06:hover div.offset, ul#cmp li a#cmp06:focus div.offset, ul#cmp li a#cmp06:active div.offset {
  margin-top : 0px;
  margin-left : -100px;
}

/* EMPRESA */

#empresa-contenido #logo-empresa {
	border: none;
	border-radius: 10px;
	padding: 10px;
}

#empresa-contenido #logo-empresa img {
	height: 90px;
}

#empresa-contenido table {
	height: 80%;
}

#empresa-contenido table td {
	width: 50%;
}

#empresa-contenido table td.socio {
	background-color: #638dc4;
	height: 50%;
}

#empresa-contenido table td.gob {
	background-color: #35c1d2;
	height: 50%;
}

#empresa-contenido table td.empleados {
	background-color: #75c263;
	height: 50%
}

#empresa-contenido table td.futuros {
	background-color: #f5713b;
	height: 50%
}

/* ESCUELA */

#escuela-contenido div.info:hover {
	background-color: #2ac2d0;
	cursor: pointer;
	 -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

#escuela-contenido div.perfil{
	position:relative;
	height: 60px;
}

#escuela-contenido div.perfil img{
	position:absolute;
	left: 0;
	margin: 5px 10px;
	text-align: left;
}

#escuela-contenido div.perfil p{
	position:absolute;
	top:25%;
	left: 70px;
	margin-top: -yy;
	font-family: 'bebas_neueregular';
	font-size: 18pt;
	text-align: left;
}	

#escuela-contenido div.info-liceos:hover {
	background-color: #2ac2d0;
	cursor: pointer;
	 -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

#escuela-contenido div.info-profesores:hover {
	background-color: #2ac2d0;
	cursor: pointer;
	 -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

#escuela-contenido div.info-alumnos:hover {
	background-color: #2ac2d0;
	cursor: pointer;
	 -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}


#escuela-contenido table {
	height: 100%;
	
	
}

#escuela-contenido table td.logo {
	border: none;
	border-radius: 10px;
	width: 30%;
	height: 100px;
	text-align: center;
}

#escuela-contenido table td.logo img {
	width: 300px;
}

#escuela-contenido table td.cont {
	background-color: #62cc49;
	width: 45%;
	font-family: 'bebas_neueregular';
}

#escuela-contenido table td.perfiles {
	background-color: #f2742d;
	width: 30%;
	font-family: 'bebas_neueregular';
	vertical-align: top;
}

#escuela-contenido table td.perfiles-2 {
	background-color: #638dc4;
	width: 30%;
	font-family: 'bebas_neueregular';
	vertical-align: top;
}

#escuela-contenido table td.perfiles-3 {
	background-color: #75c263;
	width: 30%;
	font-family: 'bebas_neueregular';
	font-size: 15pt;
	text-align: justify;
	vertical-align: top;
}

/* pagcontenido */

#pagcontenido-contenido div.info:hover {
	background-color: #2ac2d0;
	cursor: pointer;
	 -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

#pagcontenido-contenido div.perfil{
	position:relative;
	height: 60px;
}

#pagcontenido-contenido div.perfil img{
	position:absolute;
	left: 0;
	margin: 5px 10px;
	text-align: left;
}

#pagcontenido-contenido div.perfil p{
	position:absolute;
	top:25%;
	left: 70px;
	margin-top: -yy;
	font-family: 'bebas_neueregular';
	font-size: 18pt;
	text-align: left;
}	

#pagcontenido-contenido div.info-liceos:hover {
	background-color: #2ac2d0;
	cursor: pointer;
	 -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

#pagcontenido-contenido div.info-profesores:hover {
	background-color: #2ac2d0;
	cursor: pointer;
	 -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

#pagcontenido-contenido div.info-alumnos:hover {
	background-color: #2ac2d0;
	cursor: pointer;
	 -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}


#pagcontenido-contenido table {
	height: 100%;
}

#pagcontenido-contenido table td.logo {
	border: none;
	border-radius: 10px;
	width: 30%;
	height: 100px;
	text-align: center;
}

#pagcontenido-contenido table td.logo img {
	width: 300px;
}

#pagcontenido-contenido table td.cont {
	background-color: #62cc49;
	width: 45%;
	font-family: 'bebas_neueregular';
}

#pagcontenido-contenido table td.perfiles {
	background-color: #f2742d;
	width: 30%;
	font-family: 'bebas_neueregular';
	vertical-align: top;
}

#pagcontenido-contenido table td.perfiles-2 {
	background-color: #638dc4;
	width: 30%;
	font-family: 'bebas_neueregular';
	vertical-align: top;
}

#pagcontenido-contenido table td.perfiles-3 {
	background-color: #75c263;
	width: 30%;
	font-family: 'bebas_neueregular';
	font-size: 15pt;
	text-align: justify;
	vertical-align: top;
}

/* experiencia */

#experiencia-contenido div.info:hover {
	background-color: #2ac2d0;
	cursor: pointer;
	 -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

#experiencia-contenido div.perfil{
	position:relative;
	height: 60px;
}

#experiencia-contenido div.perfil img{
	position:absolute;
	left: 0;
	margin: 5px 10px;
	text-align: left;
}

#experiencia-contenido div.perfil p{
	position:absolute;
	top:25%;
	left: 70px;
	margin-top: -yy;
	font-family: 'bebas_neueregular';
	font-size: 18pt;
	text-align: left;
}	

#experiencia-contenido div.info-liceos:hover {
	background-color: #2ac2d0;
	cursor: pointer;
	 -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

#experiencia-contenido div.info-profesores:hover {
	background-color: #2ac2d0;
	cursor: pointer;
	 -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

#experiencia-contenido div.info-alumnos:hover {
	background-color: #2ac2d0;
	cursor: pointer;
	 -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}


#experiencia-contenido table {
	height: 100%;
}

#experiencia-contenido table td.logo {
	border: none;
	border-radius: 10px;
	width: 30%;
	height: 100px;
	text-align: center;
}

#experiencia-contenido table td.logo img {
	width: 300px;
}

#experiencia-contenido table td.cont {
	background-color: #62cc49;
	width: 45%;
	font-family: 'bebas_neueregular';
}

#experiencia-contenido table td.perfiles {
	background-color: #f2742d;
	width: 30%;
	font-family: 'bebas_neueregular';
	vertical-align: top;
}

#experiencia-contenido table td.perfiles-2 {
	background-color: #638dc4;
	width: 30%;
	font-family: 'bebas_neueregular';
	vertical-align: top;
}

#experiencia-contenido table td.perfiles-3 {
	background-color: #75c263;
	width: 30%;
	font-family: 'bebas_neueregular';
	font-size: 15pt;
	text-align: justify;
	vertical-align: top;
}



/* EQUIPO */

#equipo-contenido table {
	height:100%;
}

#equipo-contenido table td.logo {
	border: none;
	border-radius: 10px;
	width: 20%;
	height: 100px;
	text-align: center;
}

#equipo-contenido table td.logo img {
	width: 200px;
}

#equipo-contenido table td.equipo {
	background-color: #27275c;
	text-align: center;
	vertical-align: center;
	font-size: 40pt;
	width: 80%;
	/*height: 20%;*/
}

#equipo-contenido table td.perfil {
	width: 25%;
	text-align: center;
	vertical-align: top;
}

#equipo-contenido table td.center{
	width: 25%;
	text-align: center;
	vertical-align: middle;
}

#equipo-contenido table td.perfil div {
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

#equipo-contenido table td.perfil div.foto img {
	/*margin-right: 20px;*/
	width: 60%;
}

#equipo-contenido table td.perfil div.info {
	font-size: 10pt;
	font-weight: normal;
	width: 60%;
	/*width: 120px;*/
}

#equipo-contenido table td.perfil div.info h1 {
	font-size: 17pt;
	margin-bottom: 15px;
}

#equipo-contenido table td.row1 {
	background-color: #75c263;
}

#equipo-contenido table td.row2 {
	background-color: #35c1d2;
}

#equipo-contenido table td.row3 {
	background-color: #f5713b;
}



img.equipo {
	width: 100%;
}ta


/* contacto */

#contacto-contenido table {
	height: 100%;
}

#contacto-contenido table td.logo {
	border: none;
	border-radius: 10px;
	width: 30%;
	height: 100px;
	text-align: center;
}

#contacto-contenido table td.logo img {
	width: 300px;
}

#contacto-contenido table td.contacto {
	background-color: #f2742d;
	text-align: center;
	font-size: 40pt;
	width: 70%;
	
}

#contacto-contenido table td.contacto {
	background-color: #638dc4;
	width: 60%;
	font-size: 15pt;
	/*height: 100px;*/
}

#contacto-contenido table td.formulario {
	background-color: #638dc4;
	width: 70%;
	font-family: 'bebas_neueregular';
	font-size: 20pt;
}

#contacto-contenido table td.formulario label {
	width: 4em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block
}

#contacto-contenido table td.formulario textarea {
	background: #F6F4DA;
	margin-left: 1.5em;
	font-size: 15pt;
	font-family: tahoma;
}

#contacto-contenido table td.formulario input {
	background: #F6F4DA;
	margin-left: 4.5em;
	font-size: 15pt;
	font-family: tahoma;
}

#contacto-contenido table td.social {
	background-color: #638dc4;
	width: 70%;
	font-family: 'bebas_neueregular';
	font-size: 15pt;
	height: 50%;
}