/* Font */
@font-face {
    font-family: 'bebas_neueregular';
    src: url('font/bebasneue-webfont.eot');
    src: url('font/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/bebasneue-webfont.woff') format('woff'),
         url('font/bebasneue-webfont.ttf') format('truetype'),
         url('font/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* General */
html {
	height: 100%;
}

body {
	min-width: 1024px;
	height: 100%;
	font-family: tahoma;
	color: #FFF;
	font-size: 11pt;
	overflow: hidden;
	overflow-y: auto;
	width: 3000px;
	line-height: normal;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 30px 20px;
}

table td {
	border-radius: 10px;
	text-align: left;
	padding: 10px;
}

a {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-family: 'bebas_neueregular';
	margin-bottom: 10px;
	font-size: 17pt;
}

.contenido {
	margin: 0 15px;
	text-align: center;
}

.secciones {
	width: 63.3%;
	padding: 10px 0px 10px 0px;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
}

/* HEADER */
header {
	width: 100%;
	font-family: 'bebas_neueregular';
	font-size: 17pt;
}

header nav {
	padding: 10px 0px 10px 0px;
}

header nav {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

header nav ul li {
	display: inline-block;
	width: 13%;
	text-align: center;
	height: 80px;
}

header nav ul li span.menu {
	background-color: #6e7070;
	width: 98%;
	height: 90%;
	display: block;
	margin: 0 auto;
	border-radius: 10px;
	cursor: pointer;
}

header nav ul li span.home:hover {
	background-color: #f5713b;
}
header nav ul li span.home-activo {
	background-color: #f5713b;
}

header nav ul li span.que_hacemos:hover {
	background-color: #BC2535;
}
header nav ul li span.que_hacemos-activo {
	background-color: #BC2535;	
}

header nav ul li span.empresa:hover {
	background-color: #75c263;
}
header nav ul li span.empresa-activo {
	background-color: #75c263;	
}

header nav ul li span.escuela:hover {
	background-color: #2ac2d0;
}
header nav ul li span.escuela-activo {
	background-color: #2ac2d0;
}

header nav ul li span.transparencia:hover {
	background-color: #638dc4;
}
header nav ul li span.transparencia-activo {
	background-color: #638dc4;
}

header nav ul li span.nosotros:hover {
	background-color: #f5713b;
}
header nav ul li span.nosotros-activo {
	background-color: #f5713b;
}

header nav ul li span.beneficios:hover {
	background-color: #75c263;
}
header nav ul li span.beneficios-activo {
	background-color: #75c263;
}

header nav ul li span.menu div {
	padding-top: 20px;
}

/* HOME */

#home-contenido #logo-home {
	border: none;
	border-radius: 10px;
	padding: 10px;
}

#home-contenido #logo-home .redes-so {
	float: right;
	padding: 2%;
}

#home-contenido #logo-home .redes-so a {
	display: block;
}

#home-contenido #logo-home .redes-so a img {
	height: 40px;
}

#home-contenido table {
	height: 65%;
}

#home-contenido .redes-sociales {
	float: right;
	margin-right: 5px;
}

#home-contenido table td.actualidad {
	background-color: #75c263;
	width: 50%;
}

#home-contenido table td.noticias {
	background-color: #ed7431;
	width: 50%;
}

#home-contenido table td.noticias div.vermasnoticias {
	text-align: right;
	margin-right: 50px;
	margin-top: 20px;
	font-family: 'bebas_neueregular';
	height: 100%;
}

#home-contenido table td.noticias div.vermasnoticias a {
	font-size: 17pt;
}

#home-contenido table td.noticias h1 {
	margin-bottom: 10px;
}

#home-contenido table td.noticias a {
	font-size: 11pt;
}

#home-contenido table td.videos {
	background-color: #a82525;
	width: 50%;
	text-align: center;
	vertical-align: middle;
}

#home-contenido table td.videos div.caja-mas {
	text-align: right;
	margin-right: 50px;
	font-family: 'bebas_neueregular';
	font-size: 17pt;
}

/* EMPRESA */

#empresa-contenido #logo-empresa {
	border: none;
	border-radius: 10px;
	padding: 10px;
}

#empresa-contenido #logo-empresa img {
	height: 90px;
}

#empresa-contenido table {
	height: 80%;
}

#empresa-contenido table td {
	width: 50%;
}

#empresa-contenido table td.socio {
	background-color: #638dc4;
	height: 50%;
}

#empresa-contenido table td.gob {
	background-color: #35c1d2;
	height: 50%;
}

#empresa-contenido table td.empleados {
	background-color: #75c263;
	height: 50%
}

#empresa-contenido table td.futuros {
	background-color: #f5713b;
	height: 50%
}

/* QUE HACEMOS */

#que_hacemos-contenido table {
	height: 100%;
}

#que_hacemos-contenido table td.logo {
	border: none;
	border-radius: 10px;
	width: 30%;
	height: 100px;
	text-align: center;
}

#que_hacemos-contenido table td.logo img {
	width: 300px;
}

#que_hacemos-contenido table td.cont {
	background-color: #f2742d;
	width: 70%;
}

#que_hacemos-contenido table td.perfiles {
	background-color: #62cc49;
	width: 30%;
	font-family: 'bebas_neueregular';
}

/* ESCUELA */

#escuela-contenido table {
	height: 100%;
}

#escuela-contenido table td.logo {
	border: none;
	border-radius: 10px;
	width: 30%;
	height: 100px;
	text-align: center;
}

#escuela-contenido table td.logo img {
	width: 300px;
}

#escuela-contenido table td.cont {
	background-color: #62cc49;
	width: 70%;
}

#escuela-contenido table td.perfiles {
	background-color: #f2742d;
	width: 30%;
	font-family: 'bebas_neueregular';
}

/* TRANSPARENCIA */

#transparencia-contenido table {
	height: 100%;
}

#transparencia-contenido table td.logo {
	border: none;
	border-radius: 10px;
	width: 30%;
	height: 100px;
	text-align: center;
}

#transparencia-contenido table td.logo img {
	width: 300px;
}

#transparencia-contenido table td.transparencia {
	background-color: #62cc49;
	text-align: center;
	font-size: 40pt;
	width: 70%;
}

#transparencia-contenido table td.cont {
	background-color: #35c1d2;
	width: 100%;
}

/* EQUIPO */

#equipo-contenido table {
	height: 90%;
}

#equipo-contenido table td.logo {
	border: none;
	border-radius: 10px;
	width: 30%;
	height: 100px;
	text-align: center;
}

#equipo-contenido table td.logo img {
	width: 300px;
}

#equipo-contenido table td.equipo {
	background-color: #27275c;
	text-align: center;
	font-size: 40pt;
	width: 70%;
}

#equipo-contenido table td.perfil {
	width: 30%;
	text-align: center;
	vertical-align: middle;
}

#equipo-contenido table td.perfil div {
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

#equipo-contenido table td.perfil div.foto img {
	/*margin-right: 20px;*/
	width: 70%
}

#equipo-contenido table td.perfil div.info {
	font-size: 10pt;
	font-weight: normal;
	width: 170px;
}

#equipo-contenido table td.perfil div.info h1 {
	font-size: 17pt;
	margin-bottom: 15px;
}

#equipo-contenido table td.row1 {
	background-color: #75c263;
}

#equipo-contenido table td.row2 {
	background-color: #35c1d2;
}

#equipo-contenido table td.row3 {
	background-color: #f5713b;
}

/* BENEFICIOS */

#beneficios-contenido table {
	height: 100%;
}

#beneficios-contenido table td.logo {
	border: none;
	border-radius: 10px;
	width: 30%;
	height: 100px;
	text-align: center;
}

#beneficios-contenido table td.logo img {
	width: 300px;
}

#beneficios-contenido table td.beneficios {
	background-color: #f2742d;
	text-align: center;
	font-size: 40pt;
	width: 70%;
}

#beneficios-contenido table td.cont {
	background-color: #638dc4;
	width: 100%;
}